<html>
    <head>
        <link rel="stylesheet" href="/public/layui/css/layui.css">
    </head>
    <body style="text-align:center">
         <p style="font-size:4em;margin:2em">404</p>
         <a href="/"><button class="layui-btn layui-btn-lg layui-btn-primary">Home</button></a>
        
         <script src="/public/layui/layui.js"></script>
        <script>
            layui.use('element',() => {
                let element = layui.element;
            });
        </script>
    </body>    
</html>