{% extends "./front-end-base.njk" %}

{% block body %}
    <header>
        <h1>{{ post.title }}</h1>
        <p>Last modified at {{ modified_time }}<p>
    </header>
    <article>
        {{ post.rendered | safe}}
    </article>
{% endblock %}