{% extends "../back-end-base.njk" %}

{% block body %}
<div style="padding:2em">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>Post List</legend>
    </fieldset>
    <table id="postlist" lay-filter="mantable"></table>
</div>
{% endblock %}

{% block scripts %}
<script type='text/html' id='toolbar'>
    <a class="layui-btn layui-btn-xs" lay-event="detail">detail</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">edit</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">delete</a>
</script>
<script>
    layui.use('jquery',() => {
        let $ = layui.$;
        $('#manpost').addClass('layui-this');
    });
    layui.use(['table','layer','jquery'],() => {
        let 
            table = layui.table,
            layer = layui.layer,
            $ = layui.$;
        table.render({
            elem: '#postlist',
            url: '/data/postlist',
            page: {limit: 10},
            cols: [[
                {field:'id',title:'ID',sort:true,fixed:'left'},
                {field:'title',title:'Title'},
                {field:'created_at',title:'Created At'},
                {field:'modified_at',title:'Modified At'},
                {fixed:'right',align:'center',toolbar:'#toolbar'}
            ]],
            initSort: {field:'id',type:'desc'}
        });
        table.on('tool(mantable)',obj => {
            let {data:data,event:event,tr:tr} = obj;
            console.log(obj);
            if (event === 'detail') window.open(`/admin/viewpost/${data.id}`,'_self'); else
            if (event === 'edit') window.open(`/admin/editpost/${data.id}`,'_self'); else
            if (event === 'delete') {
                layer.confirm('Post is going to be deleted',index => {
                    obj.del();
                    layer.close(index);
                    $.get(`/api/delete/p/${data.id}`);
                })
            }
        });
    });
</script>
{% endblock %}