{% extends "../back-end-base.njk" %}

{% block body %}
<fieldset class="layui-elem-field layui-field-title">
    <legend>Post List</legend>
</fieldset>
<table id="postlist" lay-filter="mantable"></table>
{% endblock %}

{% block scripts %}
<script type="text/html" id="tableTitle">
    {% raw %}
    <a href="/p/{{d.id}}" class="layui-table-link">{{d.title}}</a>
    {% endraw %}
</script>
<script type='text/html' id='toolbar'>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="toggle_show">Hide / Show</a>
    <a class="layui-btn layui-btn-xs" lay-event="detail">detail</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">edit</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">delete</a>
</script>
<script>
    layui.use('jquery',() => {
        let $ = layui.$;
        $('#manpost').addClass('layui-this');
    });
    layui.use(['table','layer','jquery'],() => {
        let 
            table = layui.table,
            layer = layui.layer,
            $ = layui.$,
            init_sort = {field:'id',type:'desc'};
        let postlist = table.render({
            elem: '#postlist',
            url: '/data/postlist',
            page: true,
            cols: [[
                {field:'id',title:'ID',sort:true,fixed:'left',width:60},
                {field:'title',title:'Title',width:400,templet:'#tableTitle'},
                {field:'created_at',title:'Created At',width:190},
                {field:'modified_at',title:'Modified At',width:190},
                {field:'visible',title:'Visible',width:100},
                {fixed:'right',align:'center',toolbar:'#toolbar'}
            ]],
            initSort: init_sort
        });
        table.on('tool(mantable)',obj => {
            let {data:data,event:event,tr:tr} = obj;
            console.log(obj);
            if (event === 'detail') window.open(`/admin/viewpost/${data.id}`,'_self'); else
            if (event === 'edit') window.open(`/admin/editpost/${data.id}`,'_self'); else
            if (event === 'delete') {
                layer.confirm('Really Delete?',index => {
                    layer.close(index);
                    $.get(`/api/post/delete/p/${data.id}`);
                    postlist.reload();
                })
            } else 
            if (event === 'toggle_show') {
                $.get(`/api/post/toggle/p/${data.id}`);
                let visi = !JSON.parse(data.visible);
                obj.update({visible:String(visi)});
            }
        });
    });
</script>
{% endblock %}